/*
*
*   Home.vue
*   Roy Peckham
*
*/

/* --------------------------------------------
*  Main / General
*
*/
#home_container{
    font-family: $Muli;
    //@include standard_size(0, 20px, $max_width: 1200px);
} 


/* --------------------------------------------
* Hero
*
*/
#bn_hero{
    width: 100%;
    overflow: auto;
    padding: 50px 0;
    text-align: center;
    $bg-color: #FFF;
    $dot-color: darken($color-background, 10%);
    // Grid
    /*
    $dot-size: 1px;
    $dot-space: 10px;
    background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
    background-size: $dot-space $dot-space;    
    */
    background: #EEE url('assets/images/header_normal.png');
    background-position: center;
    background-size: cover;
 
    //background: linear-gradient(to top right, #43deac, #23caef);
    //background: linear-gradient(to top right, $color-girl, $color-boy);

    //background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a19587' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    //background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23a19587' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");

    //background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ccc5bc' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    //background-attachment: fixed;

    //background: #EEE url('/static/images/patterns/5.png');
    //background-repeat: repeat;
    //background-attachment: fixed;
    border-top: 1px solid lighten($color-uni, 25%);
    #bn_hero-inner{


        div{
            a{
                &:first-child{
                    div{
                        margin-left:40px;
                    }
                }
                &:last-child{
                    div{
                        margin-right:40px;
                    }
                }                
            }
        }
        @include standard_size(0, 0, $max_width: 600px);
        h1{
            width:100% !important;
            display: block;
            text-align: center;
            font-size: 36px;
            line-height: 46px;
            font-weight: 100;
            color: $color-white;
            padding-bottom: 12.5px;
        }
        .bn_circle{
            margin: 25px;            
            float: left;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            text-align: center;
            color: #FFF;
            font-weight: 100;
            font-size: 24px;
            font-family: $Nixie;
            line-height: 140px;
            cursor: pointer;
            &.boy{
                background-color: $color-boy;
            }
            &.girl{
                background-color: $color-girl;
            }
            &.uni{
                background-color: $color-uni;
            } 
            transition: .3s cubic-bezier(.25,.8,.5,1);
            &:hover{
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
                cursor: pointer;
            }  
        }
        #or{
           color: $color-white;
           font-weight: 100; 
           font-family: $Nixie;
        }
        .bn_hero-cta{
            margin-top: 12.5px;
            color: $color-white;
            border: 1px solid $color-white;
            display: inline-block;
            padding: 10px 30px;
            border-radius: 2px;
            letter-spacing: 1px;
            cursor: pointer;
            &:hover{
                background-color: $color-white;
                color: $color-accent-1;
            }
        }

    }
} 


/* --------------------------------------------
* Ad
*
*/
#home-ad{
    width: 728px;
    height: 90px;
    margin: 25px auto;
    background-color: #555;
}


/* --------------------------------------------
* Text
*
*/
#home-text{
    @include standard_size(50px, 0, $max_width: 768px);
    div{
        text-align: center;
        font-size: 28px;
        color: $color-accent-1;
        font-family: $Nixie;
        font-weight: 900;
        padding-bottom: 12.5px;
    }
}



/* --------------------------------------------
* Rows
*
*/
.link-row{
    @include standard_size(50px, 25px, $max_width: 1024px);
    border-top: 1px solid $color-lines;
    .link_row-title{
        width: 100%;
        font-size: 18px;
        padding: 10px 0;
        font-family: $Nixie;
        font-weight: 900;
        color: $color-text;
    } 
}
#link_row-names{
    .random_names{
        width:50%;
        float:left;
        padding: 25px;
        box-sizing: border-box;
        .name{
            width: 25%;
            float: left;
            padding: 5px 0;
            a{
                text-decoration: underline;
                color: $color-links;
            }
            &.boy{
                a{
                    color: darken($color-boy, 15%);
                }
            }
            &.girl{
                a{
                    color: darken($color-girl, 15%);
                }
            }            
        }
    }
}
#link_row-collections{
    padding: 25px;   
    .collection{
        margin-top: 1%;
        width: 32.6666%;
        margin-right:1%;
        float: left;
        background-color: #FFF;
        &:nth-child(3n+1){
            margin-right:0;
        }
        .collection-picture{
            width:100%;
            height: 200px;
            text-align: left;
            color: $color-white;
            text-transform: capitalize;
            font-weight: 900;
            font-size: 28px;
            line-height: 28px;
            background: #EEE url('assets/images/collections/winter.jpg');
            background-position: center;
            background-size: cover;
            //display: table-cell;
            vertical-align: middle;
            box-sizing: border-box;
            padding: 50px 25px 25px 25px;
            transition: .3s cubic-bezier(.25,.8,.5,1);
            &:hover{
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
                cursor: pointer;
            } 
            .collection-names{
                text-align: left;
                font-size: 14px;
                padding: 25px 5px 0 0;
                font-weight: 700;
                span::after{
                    content: ','
                }
                span:last-child::after{
                    content: ''
                }                
            }
        }
        .collection-link{
            padding:3px 0 20px 0;
            text-align: center;
            button{
                background-color: $color-uni;
                color: $color-white;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    }
}
#link_row-alpha{
    .alphas{
        width:50%;
        float:left;
        padding: 25px;
        box-sizing: border-box;
        .alpha{
            width: 12.5%;
            float: left;
            padding: 5px 0;
            &.girl{
                a{
                    text-decoration: underline;
                    color: darken($color-girl, 15%);
                }
            }
            &.boy{
                a{
                    text-decoration: underline;
                    color: darken($color-boy, 15%);
                }
            }            
        }
    } 
}
#link_row-origin{
    .origins{
        width:100%;
        float:left;
        padding: 25px;
        box-sizing: border-box;
        .origin{
            width: 16.6667%;
            float: left;
            padding: 10px 0;
            a{
                text-decoration: underline;
                color: darken($color-accent-1, 5%);
            }         
        }
    } 
}

