// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700,800,900|Nixie+One|Material+Icons);

// Font Variables
$Exo: 'Exo', serif; // Not using
$Muli: 'Muli', sans-serif; // 100,200,300,400,500,600,700,800,900
$Nixie: 'Nixie One', cursive; // 400

// Comfortaa
// Nixie One